* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(27, 33, 41);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
}

.container h1 {
    display: inline-block;
    font-size: 7vw;
    background: linear-gradient(to right, white, rgb(45, 183, 25), rgb(96, 114, 193));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container h2 {
    font-size: 3vw;
    color: rgb(241, 241, 241);
}